apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: app-ingress-{{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
spec:
  rules:
  - http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: {{ .Values.service.name }}-{{ .Release.Name }}
            port:
              number: 80